.unappointedShowsPageContainer {
    min-height: 100vh;
    width: 75%;
    padding: 2rem 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    grid-gap: 1rem;
    padding: 1rem 0;
}