label {
  font-size: .7rem;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}