.festivalSearchPageContainer {
    min-height: 100vh;
    width: 75%;
    align-self: center;
}

.festivalCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}